In [2]:
import pandas as pd
pd.set_option('display.max_rows', 200)

C:\Users\lucid\AppData\Roaming\Python\Python39\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\lucid\AppData\Roaming\Python\Python39\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
C:\Users\lucid\AppData\Roaming\Python\Python39\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [12]:
segmentdf = pd.read_excel('EV_Model_List.xlsx')
segmentdf.head()

   Unnamed: 0             Make Model Segments
0         NaN            AUDI E-TRON   Luxury
1         NaN         AUDI E-TRON GT   Luxury
2         NaN  AUDI E-TRON SPORTBACK   Luxury
3         NaN         AUDI Q4 E-TRON   Luxury
4         NaN      AUDI RS E-TRON GT   Luxury

In [13]:
segmentdf['Segments'] = segmentdf['Segments'].apply(lambda x: x.replace('*', '').strip().title())
segmentdf['Segments'] = segmentdf['Segments'].apply(lambda x: x.replace('Suv', 'SUV'))
segmentdf['Make'] = segmentdf['Make Model'].str.split().str.get(0)
segmentdf['Make Model'] = segmentdf['Make Model'].str.split().str.slice(1).str.join(' ')
segmentdf = segmentdf.rename(columns = {'Make Model':'Model', 'Segments' : 'Segment'})
segmentdf = segmentdf[['Segment', 'Make', 'Model']]
segmentdf['Make'] = segmentdf['Make'].apply(lambda x: x.capitalize())
segmentdf['Model'] = segmentdf['Model'].apply(lambda x: x.capitalize())

In [14]:
segmentdf

       Segment           Make                 Model
0       Luxury           Audi                E-tron
1       Luxury           Audi             E-tron gt
2       Luxury           Audi      E-tron sportback
3       Luxury           Audi             Q4 e-tron
4       Luxury           Audi          Rs e-tron gt
5       Luxury            Bmw                    I4
6       Luxury            Bmw                    I7
7       Luxury            Bmw          Ix xdrive 50
8       Luxury       Cadillac                 Lyriq
9       Luxury        Genesis                   G80
10      Luxury        Genesis                  Gv60
11      Luxury         Jaguar                I-pace
12      Luxury          Lucid                   Air
13      Luxury  Mercedes-benz                   Eqb
14      Luxury  Mercedes-benz                   Eqe
15      Luxury  Mercedes-benz                   Eqs
16      Luxury  Mercedes-benz               Eqs suv
17      Luxury       Polestar                     2
18      Luxury        Porsche       Taycan electric
19      Luxury         Rivian                   R1s
20      Luxury         Rivian                   R1t
21      Luxury          Tesla               Model 3
22      Luxury          Tesla               Model s
23      Luxury          Tesla               Model x
24      Luxury          Tesla               Model y
25      Luxury          Volvo                   C40
26      Luxury          Volvo         Xc40 recharge
27  Non-Luxury      Chevrolet                  Bolt
28  Non-Luxury           Ford        F150 lightning
29  Non-Luxury           Ford        Mustang mach-e
30  Non-Luxury            Gmc                Hummer
31  Non-Luxury        Hyundai               Ioniq 5
32  Non-Luxury        Hyundai         Kona electric
33  Non-Luxury            Kia                   Ev6
34  Non-Luxury            Kia                  Niro
35  Non-Luxury          Mazda                 Mx-30
36  Non-Luxury           Mini  Mini cooper electric
37  Non-Luxury         Nissan                 Ariya
38  Non-Luxury         Nissan                  Leaf
39  Non-Luxury         Subaru              Solterra
40  Non-Luxury         Toyota                  Bz4x
41  Non-Luxury     Volkswagen                   Id4

In [15]:
segmentdf.to_excel('EV_VehicleSegments.xlsx')

In [28]:
import pandas as pd
df = pd.read_excel('EV_VehicleSegments.xlsx')

In [4]:
df['Model'].nunique()

42

In [30]:
df['Make'].unique()

array(['Audi', 'Bmw', 'Cadillac', 'Genesis', 'Jaguar', 'Lucid',
       'Mercedes-benz', 'Polestar', 'Porsche', 'Rivian', 'Tesla', 'Volvo',
       'Chevrolet', 'Ford', 'Gmc', 'Hyundai', 'Kia', 'Mazda', 'Mini',
       'Nissan', 'Subaru', 'Toyota', 'Volkswagen'], dtype=object)

In [39]:
df.loc[df['Make'] == 'Lucid']

    Unnamed: 0 Segment   Make Model
12          12  Luxury  Lucid   Air